In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sklearn as sk

0. Importing datasets

In [11]:
# Import food dataset
df_crop = pd.read_csv('../data/food_bank/crop1.csv')

# Import smoking dataset
df_smoking = pd.read_csv('../data/smoking/smoking.csv')

1. Data Exploration

a. Explore the dataset by displaying the first few rows, summary statistics, and data types of each column.

In [14]:
# Display first few rows
df_crop.head()

          Area                 Item         Element  Year Unit   Value
0  Afghanistan  Almonds, with shell  Area harvested  1975   ha     0.0
1  Afghanistan  Almonds, with shell  Area harvested  1976   ha  5900.0
2  Afghanistan  Almonds, with shell  Area harvested  1977   ha  6000.0
3  Afghanistan  Almonds, with shell  Area harvested  1978   ha  6000.0
4  Afghanistan  Almonds, with shell  Area harvested  1979   ha  6000.0

In [39]:
pd.set_option('display.max_columns', 13)

df_smoking.head()

    sex  age  height  weight  waistline  sight_left  ...  serum_creatinine  SGOT_AST  SGOT_ALT  gamma_GTP  SMK_stat_type_cd  DRK_YN
0  Male   35     170      75       90.0         1.0  ...               1.0      21.0      35.0       40.0               1.0       Y
1  Male   30     180      80       89.0         0.9  ...               0.9      20.0      36.0       27.0               3.0       N
2  Male   40     165      75       91.0         1.2  ...               0.9      47.0      32.0       68.0               1.0       N
3  Male   50     175      80       91.0         1.5  ...               1.1      29.0      34.0       18.0               1.0       N
4  Male   50     165      60       80.0         1.0  ...               0.8      19.0      12.0       25.0               1.0       N

[5 rows x 24 columns]

In [17]:
# Summary
df_crop.describe()

               Year         Value
count  1.895975e+06  1.766475e+06
mean   1.992321e+03  1.077275e+06
std    1.718118e+01  1.403138e+07
min    1.961000e+03  0.000000e+00
25%    1.978000e+03  4.500000e+03
50%    1.994000e+03  2.687500e+04
75%    2.007000e+03  1.303910e+05
max    2.020000e+03  1.955308e+09

In [32]:
pd.set_option('display.max_columns', 9)
df_smoking.describe()

                 age         height         weight      waistline  ...       SGOT_AST       SGOT_ALT      gamma_GTP  SMK_stat_type_cd
count  991346.000000  991346.000000  991346.000000  991346.000000  ...  991346.000000  991346.000000  991346.000000     991346.000000
mean       47.614491     162.240625      63.284050      81.233358  ...      25.989308      25.755051      37.136347          1.608122
std        14.181339       9.282957      12.514241      11.850323  ...      23.493386      26.308599      50.424153          0.818507
min        20.000000     130.000000      25.000000       8.000000  ...       1.000000       1.000000       1.000000          1.000000
25%        35.000000     155.000000      55.000000      74.100000  ...      19.000000      15.000000      16.000000          1.000000
50%        45.000000     160.000000      60.000000      81.000000  ...      23.000000      20.000000      23.000000          1.000000
75%        60.000000     170.000000      70.000000      87.800000  ...      28.000000      29.000000      39.000000          2.000000
max        85.000000     190.000000     140.000000     999.000000  ...    9999.000000    7210.000000     999.000000          3.000000

[8 rows x 22 columns]

In [40]:
# Data types
df_crop.dtypes

Area        object
Item        object
Element     object
Year         int64
Unit        object
Value      float64
dtype: object

In [41]:
df_smoking.dtypes

sex                  object
age                   int64
height                int64
weight                int64
waistline           float64
sight_left          float64
sight_right         float64
hear_left           float64
hear_right          float64
SBP                 float64
DBP                 float64
BLDS                float64
tot_chole           float64
HDL_chole           float64
LDL_chole           float64
triglyceride        float64
hemoglobin          float64
urine_protein       float64
serum_creatinine    float64
SGOT_AST            float64
SGOT_ALT            float64
gamma_GTP           float64
SMK_stat_type_cd    float64
DRK_YN               object
dtype: object

b. Identify missing values, outliers, and unique values in categorical columns.

In [45]:
# Identify missing values
missing_values = df_crop.isnull().sum()
print("Missing Values:\n", missing_values, sep='')

Missing Values:
Area            0
Item            0
Element         0
Year            0
Unit            0
Value      129500
dtype: int64

In [47]:
# Identify missing values
missing_values = df_smoking.isnull().sum()
print("Missing Values:\n", missing_values, sep='')

Missing Values:
sex                 0
age                 0
height              0
weight              0
waistline           0
sight_left          0
sight_right         0
hear_left           0
hear_right          0
SBP                 0
DBP                 0
BLDS                0
tot_chole           0
HDL_chole           0
LDL_chole           0
triglyceride        0
hemoglobin          0
urine_protein       0
serum_creatinine    0
SGOT_AST            0
SGOT_ALT            0
gamma_GTP           0
SMK_stat_type_cd    0
DRK_YN              0
dtype: int64

In [7]:


# Identify unique values in categorical columns
categorical_columns = df.select_dtypes(include=['object']).columns
unique_values = {col: df[col].unique() for col in categorical_columns}

print(f"Unique Areas:{len(unique_values.get('Area'))}")
print(f"Unique Elements:{len(unique_values.get('Element'))}")
print(f"Unique Items:{len(unique_values.get('Item'))}")
print(f"Unique Units:{len(unique_values.get('Unit'))}")

Missing Values:
 Area            0
Item            0
Element         0
Year            0
Unit            0
Value      129500
dtype: int64
Unique Areas:245
Unique Elements:3
Unique Items:118
Unique Units:3

We find that there are lots of missing "value" values.
These are often the same crop, thus we have no good data for that particular crop anyways.
We might just drop the rows where the "value" is missing as it will not help improve our model

2. Data Cleaning

In [8]:
# Filter out categorial columns, leaving only numerical
df_numerical = df.select_dtypes(include=[np.number])
df_numerical.head()

   Year   Value
0  1975     0.0
1  1976  5900.0
2  1977  6000.0
3  1978  6000.0
4  1979  6000.0

3. Handling Outliers

a. Detect outliers using methods such as the IQR method or Z-score.

In [9]:
# Identify outliers using the IQR method
Q1 = df_numerical.quantile(0.25)
Q3 = df_numerical.quantile(0.75)
IQR = Q3 - Q1
outliers = ((df_numerical < (Q1 - 1.5 * IQR)) | (df_numerical > (Q3 + 1.5 * IQR))).sum()
print("\nOutliers:\n", outliers)

Outliers:
 Year          0
Value    246096
dtype: int64

b. Decide whether to remove, cap, or transform the outliers. Justify your decisions

4. Data Transformation

a. Encoding Categorical Data

i. Apply label encoding or one-hot encoding to transform categorical data into 
numerical form.

In [10]:
# Apply one-hot encoding to categorical columns
categorial_df = pd.get_dummies(df, columns=['Area', 'Element', 'Item', 'Unit'])
categorial_df.head()

# Print columns amount
print(f"Columns amount: {len(categorial_df.columns)}")

Columns amount: 371

Why do we use one-hot encoding over label encoding?

b. Feature Scaling

i. Apply feature scaling techniques such as normalization (Min-Max scaling) or 
standardization (Z-score normalization) to the dataset.

ii. Explain why feature scaling is necessary and how it impacts the model.

5. Data Splitting

a. Split the preprocessed dataset into training and testing sets. Typically, an 80-20 or 70-30 split is used.

b. Explain the importance of splitting the data and how it prevents overfitting.